.remark-slide .remark-slide-content {
    color: white;
}

.center code {
    text-align: left;
}

.center-img p {
    display: inline-block;
    width: 200px
}

.center-img img {
    width: 100px;
}

.remark-slide .remark-slide-content.yuge h2 {
    font-size: 20vh;
    margin-bottom: 0;
}

.background-white {
    background-color: white !important;
    color: black !important;
}

.remark-slide .remark-slide-content .overlay {
    background: rgba(0,0,0,.75);
}

.hvr-wobble-horizontal, .hvr-wobble-vertical, .en-knapp{
    padding: 1rem;
    margin: 1rem;
    border:none;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-vertical:hover {
    background: #fd5158;
    cursor: pointer;
    color: white;
}

.i-gokk {
    position: absolute; top: 110px; right: 150px;
}

.i-gokk .container {
    background: black;
    width: 250px;
}

.i-gokk .container div {
    width: 100px;
    height: 70px;
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
    background: grey;
    margin: 5px;

}

.i-gokk-position {
    width: 450px;
    height: 500px;
    position: absolute; top: 110px; right: 150px;
}

.position {
    width: 350px;
    background: black;
    height: 500px;
}

.position div {
    line-height: 50px;
}

.position .a {
    background: red;
}

.position .b {
    background: blue;
}

.position .c {
    background: green;
}

@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.hvr-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/* Wobble Horizontal */

@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
