<!doctype html>
<html lang="no">
    <head>
        <title>Leiligheter</title>
        <link href="styling.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8">
    </head>
    <body>
    <div class="filter">
        <form>
            <div class="omrade-filter">
                <h3>Område:</h3>
                <label>
                    <input type="checkbox"/>
                    Oslo
                </label>
                <label>
                    <input type="checkbox"/>
                    Bergen
                </label>
                <label>
                    <input type="checkbox"/>
                    Trondheim
                </label>
                <label>
                    <input type="checkbox"/>
                    Stavanger
                </label>
            </div>
            <div class="botype-filter">
                <h3>Eierform:</h3>
                <label>
                    <input type="checkbox"/>
                    Leilighet
                </label>

                <label>
                    <input type="checkbox"/>
                    Rekkehus
                </label>
                <label>
                    <input type="checkbox"/>
                    Hus
                </label>
            </div>
            <div class="botype-filter">
                <h3>Fasiliteter:</h3>
                <label>
                    <input type="checkbox"/>
                    Balkong
                </label>
                <label>
                    <input type="checkbox"/>
                    Peis
                </label>
                <label>
                    <input type="checkbox"/>
                    Garasje
                </label>
            </div>
        </form>
    </div>
    <div class="annonse-container">
        <div class="annonse">
            <div class="img-container">
                <img src="../annonser/annonse1/0.jpg" alt="bilde av en annonse"/>
                <span class="pris-container">
                    <span class="pris">2 300 000</span>
                </span>
                <span class="kvm">43m<sup>2</sup></span>
            </div>
            <div class="details">
                <h2 class="tittel">Fin leilighet, nyoppusset 2013</h2>
                <p class="omrade">Helgesensgate 5, Grunerløkka, Oslo</p>
                <ul class="div-container">
                    <li class="gjeld">Fellesgjeld: 200.000</li>
                    <li class="fk">Fellesutgifter:3.455</li>
                </ul>
            </div>
        </div>
        <div class="annonse">
            <div class="img-container">
                <img src="../annonser/annonse2/2.jpg" alt="bilde av en annonse"/>
                <span class="pris-container">
                    <span class="pris">2 300 000</span>
                </span>
                <span class="kvm">43m<sup>2</sup></span>
            </div>
            <div class="details">
                <h2 class="tittel">Fin leilighet, nyoppusset 2013</h2>
                <p class="omrade">Helgesensgate 5, Grunerløkka, Oslo</p>
                <p class="div-container">
                    <span class="gjeld">200000</span>
                    <span class="fk">3455</span>
                </p>
            </div>
        </div>
        <div class="annonse">
            <div class="img-container">
                <img src="../annonser/annonse3/4.jpg" alt="bilde av en annonse"/>
                <span class="pris-container">
                    <span class="pris">2 300 000</span>
                </span>
                <span class="kvm"> 43</span>
            </div>
            <div class="details">
                <h2 class="tittel">Fin leilighet, nyoppusset 2013</h2>
                <p class="omrade">Helgesensgate 5, Grunerløkka, Oslo</p>
                <p class="div-container">
                    <span class="gjeld">200000</span>
                    <span class="fk">3455</span>
                </p>
            </div>
        </div>
        <div class="annonse">
            <div class="img-container">
                <img src="../annonser/annonse4/6.jpg" alt="bilde av en annonse"/>
                <span class="pris-container">
                    <span class="pris">2 300 000</span>
                </span>
                <span class="kvm">43m<sup>2</sup></span>
            </div>
            <div class="details">
                <h2 class="tittel">Fin leilighet, nyoppusset 2013</h2>
                <p class="omrade">Helgesensgate 5, Grunerløkka, Oslo</p>
                <p class="div-container">
                    <span class="gjeld">200000</span>
                    <span class="fk">3455</span>
                </p>
            </div>
        </div>
    </div>
    </body>
</html>
