<!doctype html>
<html lang="no">
    <head>
        <title>Leiligheter</title>
        <link href="styling.css" type="text/css" rel="stylesheet"/>
        <meta charset="utf-8">
        <!--
          Fetch er ikke støttet i IE eller Safari
          https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
        -->
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
    </head>
    <body>
        <div class="annonse-container"></div>
        <script type="text/javascript" src="/script.js"></script>
    </body>
</html>
